# Replace example.com with your application's domain
example.com {
  # node-app:4000 is the docker container running the Node.js application
  # in our case it's exposed on port 4000
  reverse_proxy node-app:4000  {
    header_down Strict-Transport-Security max-age=31536000;
   }
}